@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Components */
@import './components/buttons.pcss';
@import './components/input.pcss';
@import './components/select.pcss';

html,
body {
    @apply select-none;

    font-family: Tahoma, Arial, sans-serif;
}
